body{
    font-family: 'Roboto', sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2015/11/09/23/02/background-1036109_960_720.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.div{
    width: auto;
    padding: 50px;
    margin: 20px;
}
.parrafo{
    text-align: center;    
}

.resize{
    height: 200px;
    width: 200px;
    display: block;
    border-radius: 20%;
}

.service{
    float: left;
}

.posicion{
    position: absolute;
    margin-top: -100px;
    margin-left: 300px;
    font-size: large;
}
.a{
    position: relative;
    margin-left: 80%;
}
.perros{
    box-sizing: border-box;
    padding: 50px;
    margin: 20px;
}